.body-wrap
    header.header
        .header__black
            .header__top
                .wrapper
                    .header__phone
                        a(href="tel:+74957923072")
                            span (495)
                            span 792-30-72
                        p с 9:00 до 22:00
                    .header__icons
                        a(href="#")
                            img(src="./images/icon/vk.svg", alt="vk")
                        a(href="#")
                            img(src="./images/icon/instagram.svg", alt="instagram")
                        a(href="#")
                            img(src="./images/icon/facebook.svg", alt="facebook")
                        a(href="#")
                            img(src="./images/icon/youtube.svg", alt="youtube")
                    .header__city
                        p ВАШ ГОРОД
                        .select
                            select(name="city")
                                option(value="1") Москва
            nav.menu
                .wrapper
                    ul
                        li
                            a(href="#") архив представлений
                        li
                            a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                        li
                            a(href="#") ОТЗЫВЫ
                        li
                            a(href="#") КАК НАС НАЙТИ
                        li
                            a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                        li
                            a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                        li
                            a(href="#") МЕДИА
                        li
                            a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                        li
                            a(href="#") АРЕНДА ЗАЛА
                        li
                            a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
            .header__small
                .wrapper
                    .header__phone
                        a(href="tel:+74957923072")
                            span (495)
                            span 792-30-72
                        p с 9:00 до 22:00
                    .header__menu
                        ul
                            li
                                a(href="#") архив представлений
                            li
                                a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                            li
                                a(href="#") ОТЗЫВЫ
                            li
                                a(href="#") КАК НАС НАЙТИ
                            li
                                a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                            li
                                a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                            li
                                a(href="#") МЕДИА
                            li
                                a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                            li
                                a(href="#") АРЕНДА ЗАЛА
                            li
                                a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
                    .header__city
                        p ВАШ ГОРОД
                        .select
                            select(name="city")
                                option(value="1") Москва
                                option(value="2") Новосибирск
            .header__mobile
                a(href="https://55555club.ru/cirk-tancuyushhix-fontanov-akvamarin", target="_blank").header__tickets
                    img(src="./images/icon/icon-logo.png", alt="icon-logo")
                    span КУПИТЬ <br> БИЛЕТЫ
                a(href="tel:+74957923072")
                    img(src="./images/icon/icon-phone.png", alt="phone")
                button
                    img(src="./images/icon/burger.png", alt="menu")
            .header__mob-menu
                .header__city
                    p ВАШ ГОРОД
                    .select
                        select(name="city")
                            option(value="1") Москва
                            option(value="2") Новосибирск
                .menu
                    ul
                        li
                            a(href="#") архив представлений
                        li
                            a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                        li
                            a(href="#") ОТЗЫВЫ
                        li
                            a(href="#") КАК НАС НАЙТИ
                        li
                            a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                        li
                            a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                        li
                            a(href="#") МЕДИА
                        li
                            a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                        li
                            a(href="#") АРЕНДА ЗАЛА
                        li
                            a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
                .header__icons
                    a(href="#")
                        img(src="./images/icon/vk.svg", alt="vk")
                    a(href="#")
                        img(src="./images/icon/instagram.svg", alt="instagram")
                    a(href="#")
                        img(src="./images/icon/facebook.svg", alt="facebook")
                    a(href="#")
                        img(src="./images/icon/youtube.svg", alt="youtube")
        .header__icons.small
            a(href="#")
                img(src="./images/icon/vk.svg", alt="vk")
            a(href="#")
                img(src="./images/icon/instagram.svg", alt="instagram")
            a(href="#")
                img(src="./images/icon/facebook.svg", alt="facebook")
            a(href="#")
                img(src="./images/icon/youtube.svg", alt="youtube")
        .header__bottom
            .wrapper
                a(href="./").logo
                    img(src="./images/icon/logo.png", alt="logo")
                    span ЦИРК ТАНЦУЮЩИХ ФОНТАНОВ
                a(href="https://55555club.ru/cirk-tancuyushhix-fontanov-akvamarin", target="_blank").tickets
                    img(src="./images/icon/icon-logo.png", alt="icon-logo")
                    span КУПИТЬ БИЛЕТЫ
    .text-block.wrapper
        h2 БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
        .text-block__wrap.carnival 
            .text-block__image
                img(src="./images/decor/carnival-3.jpg", alt="about")
            .text-block__text 
                p В Цирке Танцующих Фонтанов «Аквамарин» зрители принимают участие в веселом Цирковом Карнавале.
                p Незабываемый праздник ждет всех и до, и после представления!
                p Множество сюрпризов и развлечений, катание на пони, детские аттракционы, Королевство Кривых Зеркал, аквагрим, море воздушных шаров и цирковых игрушек, сладкие лакомства, а также большая детская игровая программа в фойе цирка перед представлением!
                p Чтобы все успеть, мы рекомендуем зрителям приходить не позднее, чем за час до начала спектакля!
        .text-block__wrap.carnival.reverse
            .text-block__text
                p В течение всего праздника вас могут сколько угодно раз фотографировать наши фотографы – на фоне Танцующих Фонтанов, вместе с артистами и цирковыми животными!
                p По каждому билету вы можете одну фотографию получить совершенно бесплатно, а за невысокую плату заказать дополнительные фотографии, подарочные календари и открытки с вашими фотографиями.
                p И еще один сюрприз: всех зрителей Цирка Танцующих Фонтанов «Аквамарин» ждет удивительная экскурсия в единственный в России Музей Клоунов!
                p Уникальная коллекция насчитывает более 5000 экспонатов – от конца 19 века и до наших дней.
            .text-block__image
                img(src="./images/decor/carnival-1.jpg", alt="about")
        .text-block__wrap.carnival 
            .text-block__image
                img(src="./images/decor/carnival-2.jpg", alt="about")
            .text-block__text
                p В нашем цирке любительская фото- и видеосъемка разрешена без ограничений (во время шоу необходимо ОБЯЗАТЕЛЬНО отключать фотовспышку!).
                p До представления, в антракте и после представления работают уютные цирковые кафе.
                p Вход в цирк открывается за 1,5 часа до представления.
                p Продолжительность представления – 2 часа 45 минут, в том числе антракт 35 минут.
    .photos.wrapper
        .photos__slider
            .photos__big
                .photos__slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
                .photos__slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
                .photos__slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
                .photos__slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
            .photos__small
                .photos__small-slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
                .photos__small-slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
                .photos__small-slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
                .photos__small-slide
                    img(src="./images/decor/photo-2.jpg", alt="photo")
    footer.footer
        a(href="#0").button-up
            img(src="./images/icon/button-up.png", alt="button-up")
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") Медиа
                li
                    a(href="#") Представления
                li
                    a(href="#") Сотрудничество и кастинги
                li
                    a(href="#") Расписание, схемы залов
                li
                    a(href="#") Аренда зала
                li
                    a(href="#") Корпоративные мероприятия
                li
                    a(href="#") Архив представлений
            p Цирк Танцующих Фонтанов "Аквамарин" 
                a(href="tel:+74957923072") +7 (495) 792-30-72 
                | (с 9:00 до 22:00)
            a(href="#") Зрительский клуб «55555»
            .footer__social
                a(href="#")
                    img(src="./images/icon/vk.svg", alt="vk")
                a(href="#")
                    img(src="./images/icon/instagram.svg", alt="instagram")
                a(href="#")
                    img(src="./images/icon/facebook.svg", alt="facebook")
                a(href="#")
                    img(src="./images/icon/youtube.svg", alt="youtube")