section.partners
    .container
        h2 Наши партнеры
        .partners__wrap
            a(href="https://nskavtodor.ru/", target="_blank")
                img(src="./images/decor/partner-1.jpg", alt="partner")
            a(href="https://bergauf.ru/", target="_blank")
                img(src="./images/decor/partner-2.jpg", alt="partner")
            a(href="https://www.henkel.ru/", target="_blank")
                img(src="./images/decor/partner-3.png", alt="partner")
            a(href="https://www.gerkules.com/", target="_blank")
                img(src="./images/decor/partner-4.png", alt="partner")
            a(href="http://omskroad.ru/", target="_blank")
                img(src="./images/decor/omskavtodorlogo.jpg", alt="partner")
            a(href="https://dsu4.ru/", target="_blank")
                img(src="./images/decor/partner-5.png", alt="partner")
            a(href="https://yugo-vostochnoe-dsu.ru/", target="_blank")
                img(src="./images/decor/partner-6.png", alt="partner")
            a(href="https://uzdsu.ru/", target="_blank")
                img(src="./images/decor/partner-7.jpg", alt="partner")
            